@model PasteleriaMVC.Models.DetalleEncargos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleEncargos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encargos.idEncargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encargos.idEncargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEncargo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
