@model PasteleriaMVC.Models.Clientes

@{
    Layout = null;
}



<div>
    <div class="card-title">
        <h3 class="text-center title-2">Detalles del Cliente</h3>
    </div>
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombres)  @Html.DisplayFor(model => model.apellidoP) @Html.DisplayFor(model => model.apellidoM)
        </dd>

        <dt>
            Direccion
        </dt>
        <dd>
            @Html.DisplayFor(model => model.calle), @Html.DisplayFor(model => model.colonia),
            @Html.DisplayFor(model => model.municipios.nombre), @Html.DisplayFor(model => model.estados.nombre)
        </dd>

        <div class="row">
            <div class="col-4">
                <dt>
                    Celular
                </dt>
                @Html.DisplayFor(model => model.celular)
            </div>
            <div class=" col-4">
                <dt>
                    Telefono
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.telefono)
                </dd>
            </div>
            <div class=" col-4">
                <dt>
                    Correo
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.correo)
                </dd>
            </div>
        </div>

    </dl>
</div>

