@model PasteleriaMVC.Models.Encargos












@{
    ViewBag.Title = "Pedidos";
    ViewBag.PedidoA = "active";
}


<!-- Agregamos en menu de nav-->
@Html.Partial("_Navegation")<!--nav lateral -->
<!-- PAGE CONTAINER-->
<div class="main-content">
    <div class="page-container">
        @Html.Partial("_Header")<!--nav header(top) -->
        <div class="section__content section__content--p30">
            <div class="container-fluid">


                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center title-2">Registrar Pedido</h3>
                    </div>
                    <hr>
                    <!------------      ------------>
                    @using (Html.BeginForm("Create", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                <label class="control-label col-md-12">Nombre del Cliente</label>
                                <div class="col-md-12">
                                    @Html.DropDownList("idCliente", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Fecha de Registro</label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.fechaEncargo, new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "fechaActual" } })
                                            @Html.ValidationMessageFor(model => model.fechaEncargo, "", new { @class = "text-danger" })



                                        </div>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Fecha de entrega</label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.fechaEntrega, new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "fechaActual" } })
                                            @Html.ValidationMessageFor(model => model.fechaEntrega, "", new { @class = "text-danger" })



                                        </div>
                                    </div>

                                </div>

                            </div>





                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa "></i>&nbsp;
                                    <span id="payment-button-amount">Siguiente</span>
                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                </button>
                            </div>
                        </div>
                    }
                    <!------------      ------------>
                </div>





            </div>
        </div>
    </div>
</div>


<!---->

<script>
    window.onload = function(){
  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  if(dia<10)
    dia='0'+dia; //agrega cero si el menor de 10
  if(mes<10)
    mes='0'+mes //agrega cero si el menor de 10
  document.getElementById('fechaActual').value=ano+"-"+mes+"-"+dia;
}
</script>







@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Encargos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idCliente, "idCliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCliente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.anticipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.anticipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.anticipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaEncargo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaEncargo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaEncargo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaEntrega, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaEntrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
